li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.circle {
  display: none
}

.container {
  margin-top: 30px;
  background: yellow;
}

#title {
  text-align: center;
}

h2 {
  text-align: center
}

img {
  margin-left: 630px
}

#wrapper {
  background: yellow
}